@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Orbitron|Petit+Formal+Script|Roboto+Mono|Saira+Stencil+One|Syncopate&display=swap');

html {
    height: 100%;
    overflow: hidden;
    perspective: 1px;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
    overflow-x: hidden;
    /* perspective: 1px; */
    transform-style: preserve-3d;
    overflow-y: scroll;
    height: 100%;
    
}

#main_intro {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    color: rgb(202, 173, 184);
}

#main_intro h1 {
    margin-top: -120px;
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
}

#main_intro h3 {
    padding-top: 45px;
    color: #888787;
    font-size: 2em;
    text-shadow: 2px 2px rgb(240, 240, 240);
}

#main_intro, #main_intro:before{
    background: 20% 80% / cover;
}

#main_intro::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url('../img/chair-contemporary-.jpg');
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

#main_intro * { 
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    /* padding: 1em 0; */
}

.container-fluid {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    overflow: hidden;
}


/* -------------Start of Navbar-------------- */

.navbar {
    padding: 10px;
    margin-left: 110px;
    margin-right: 90px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.2em;
    z-index: 3;
}

.nav li a:hover, .navbar-default {
    background-color: transparent;
}

.navbar-default {
    border-color: transparent;
}

    /* Changing color of active navbar button during scrollspy */
li.active a { 
    color: rgb(87, 87, 87) !important; background: rgb(197, 156, 163, .5) !important;
    transition: .3s;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(78, 78, 78);
    text-shadow: 1px 1px 2px #ffffff;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.9em;
    font-weight: 500;
    /* letter-spacing: 5px; */
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
    transition: .5s;
}

        /* Start of navbar slide in animation */
nav ul li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
    animation-delay: 1s;
}

nav ul li:nth-child(4) {
    animation-delay: 1.5s;
}

nav ul li a {
    /* padding: 1rem 0; */
    /* position: relative; */
    margin: 0 30px;
    letter-spacing: 2px;
}

nav ul li a:last-child {
    margin-right: 0;
}

nav ul li a::before, 
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(241, 172, 194);
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before {
    top: 0;
    transform-origin: left;
}

nav ul li a::after {
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: scaleX(1)
}

@keyframes slideIn {
    from {

    }
    to {
        transform: translateX(0)
    }
}

        /* Roxy Garcia hover effect */
    nav .navbar-header .navbar-brand:hover {
        color: rgb(211, 161, 177);
        font-size: 1.3em;
        transition: .6s;
        text-shadow: 0 0 10px rgba(206, 174, 174, 0.5);
    }

        /* End of Navbar Animation Slidein */

/* -----------------End of Navbar Section -------------------*/



/*----------- Start of Social Media Icons -------------------*/


        /* Social list in collapsed navbar */
.socials_list_collapsed {
    padding: 0;
}

.social_item {
    list-style-type: none;
    float: left;
    margin-right: 25px;
}

.icon_collapsed {
    color: rgb(128, 128, 128);
}

.icon_collapsed:hover {
    color: rgb(49, 49, 49);
    font-size: 1.3em;
    transition: .5s;
}
        /* End of social list in collapsed navbar */

.socials_list {
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 50%;
    list-style-type: none;
    font-size: 2em;
    right: 12.5px;
    z-index: 2;
    transform: translate(-10%, -50%);
}

.icon {
    color: rgb(128, 128, 128);
}

.icon:hover {
    color: rgb(241, 172, 194);
    font-size: 1.3em;
    transition: .5s;
}

/* Removes underlines on "a" tag for social media icons when using hover effect & clicking on link */
.social:hover, .social:focus .social:active, .social:visited, .social:link {
    text-decoration: none;
}

/*----------------------End of Social Media Icons---------------- */



/* ---------Start of Intro------------ */

/* #intro {
    background-image: linear-gradient( to right, rgb(202, 173, 184) 50%, rgb(245, 245, 245) 50%);
    height: 100vh;
    box-shadow: -5px 0 10px -5px rgb(0, 0, 0, .4), 5px 5px 10px -5px rgb(0, 0, 0, .4);
}


#intro h1 {
    margin-top: 20vh;
    margin-left: 240px;
    font-size: 7em;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, rgb(238, 238, 238) 37%, rgb(202, 173, 184)37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
} */

/* #hero_img {
    background-image: url('../img/chair-contemporary-.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: .8;
    height: 700px;
} */




/* ----------------Start of About me Section------------- */

#my_story {
    background-color: rgb(245, 245, 245);
    height: auto;
}

#technology, #about_me, #skill_set .centered, #port_sent, #contact_form h3 {
    font-family: 'Roboto Mono', sans-serif;
}

#my_story h3, #my_projects h2, #contact_form h2 {
    font-size: 6em;
    font-family: 'Orbitron', sans-serif;
    color:  rgb(202, 173, 184);
    letter-spacing: 5px;
}

.padding_story {
    padding: 10% 6%;
}

#technology {
    padding-bottom: 20px;
}

#about_me {
    font-size: 1.3em;
    padding-top: 3.5%;
    padding-left: 6%;
}

#skill_set {
    margin-top: 80px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
    letter-spacing: 10px;
}

#skill_set h5 {
    font-size: 1em;
}

.centered {
    margin-top: 40px;
}

.progress {
    margin: 70px 110px 140px 110px;
}

/* -----Hero Img section with web development text content---- */

#hero_img {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    color: rgb(202, 173, 184);
}

#hero_img .item {
    position: absolute;
}

#hero_img .one {
    right: 100px;
    bottom: 250px;
    /* left: 500px; */
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
}

#hero_img .two {
    left: 280px;
    top: 300px;
    color: #888787;
    font-size: 4em;
    opacity: .2;
}

#hero_img .three {
    left: 540px;
    bottom: 100px;
    font-size: 3.2em;
    font-weight: bold;
    opacity: .8;
}

#hero_img .four {
    right: 280px;
    top: 170px;
    font-size: 2.7em;
    color: #888787;
}

#hero_img .five {
    left: 140px;
    bottom: 30px;
    font-size: 2em;
    color: #888787;
}

#hero_img .six {
    left: 680px;
    bottom: 400px;
    font-size: 2.5em;
}

#hero_img .seven {
    left: 200px;
    top: 50px;
    font-size: 2.4em;
}

#hero_img .eight {
    right: 200px;
    top: 270px;
    font-size: 1.8em;
    color: #888787;
    opacity: .6;
}

#hero_img .nine {
    right: 100px;
    bottom: 140px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #888787;
    opacity: .6;
}

#hero_img .ten {
    right: 600px;
    top: 230px;
    font-size: 1.5em;
    font-weight: bold;
    opacity: .7;
}

#hero_img .eleven {
    left: 650px;
    top: 100px;
    font-size: 1.8em;
    color: #888787;
}

#hero_img .twelve {
    left: 100px;
    bottom: 250px;
    font-size: 2.5em;
    opacity: .6;
}

#hero_img .thirteen {
    right: 568px;
    bottom: 240px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #888787;
}

#hero_img, #hero_img:before{
    background: 70% 30% / cover;
}

#hero_img::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url('../img/chair-contemporary-.jpg');
    background-size: cover;
    /* background-position: center center; */
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

#hero_img * { 
    letter-spacing: 0.2em;
    margin: 0;
    /* padding: 1em 0; */
}



/* ---------------Start of My Portfolio Section---------- */

#my_projects {
    background-color: rgb(245, 245, 245);
    height: auto;
    /* border-top: 1px solid black; */
    /* line-height: 1em; */

}

#port_sent, #h2_contact {
    font-size: 2.1em;
}

.padding_portfolio {
    padding: 7% 7% 3% 7%;
}

/* .padding_portfolio h2 {
    padding-bottom: 0%;
} */

.proj_item {
    padding: 0;
}

img {
    filter: blur(6px);
    opacity: .5;
    transition: all 2s;
}
img:hover {
    filter: blur(0);
    opacity: 1;
}

.proj_list {
    padding: 4%;
}

#port_sent {
    padding-bottom: 40px;
}

.img_size {
    margin: 0 auto;
  /* width: 230px; */
  height: 500px;
}

.bgc {
    background-color: rgb(202, 173, 184, .7);
    border: 2px solid rgb(245, 245, 245);
}

.inner_content p {
    font-family: 'Roboto Mono', sans-serif;
}

.inner_content {
    height: 60px;
    width: 70%;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    text-align: justify;
    position: absolute;
    bottom: 35px;
    left: 50px;
    transition: all .4s;
}

.proj_item:hover .inner_content {
    height: 100px;
    color: rgb(255, 255, 255);
}

.site_info {
    transition: all .5s;
}

.inner_content h3 {
    margin: 0;
}

.inner_content span {
    bottom: 20px;
}

/*------- Start of Contact Form -------*/

#contact_form {
    background-color: rgb(245, 245, 245);
    padding: 60px 0 75px 0;
    height: auto;

}

#contact_form h2, #contact_form h3 {
   text-align: center;
}

#contact_form h3 {
    /* text-transform: uppercase; */
}

.border {
    width: 700px;
    height: 2px;
    background:  rgb(128, 128, 128);
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    /* overflow: hidden; */
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgb(202, 173, 184,.5);
    padding: 20px 40px;
    outline: none;
    /* color: #ddd; */
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px rgb(146, 146, 146);
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: rgb(146, 146, 146);
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: rgb(196, 172, 180);
}

input {
    padding-bottom: 30px;
}


/* ----Start of Media Queries for Small and Large Screens------ */

@media (max-width: 800px) {
    .socials_list {
        display: none;
    }

    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        list-style: none;
        margin-top: 4rem;
        transform: translateX(0);
        animation: none;
    }

    nav ul li a{
		margin: 0;
        font-size: 1.5em;
    } 

    .navbar-default .navbar-nav > li > a {
        color: #888787;
        text-shadow: 1px 1px 2px #ffffff;
    }

    nav .navbar-header .navbar-brand:hover {
        color: rgb(216, 216, 216);
        font-size: 1.5em;
        transition: .2s;
        text-shadow: 0 0 10px rgba(206, 174, 174, 0.5);
    }

    #main_intro h1 {
        margin-top: 150px;
        font-size: 3.2em;
        font-weight: bold;
        text-transform: uppercase;
    }

    #main_intro h3 {
        padding-top: 25px;
        /* background: linear-gradient(to right, rgb(238, 238, 238) 50%, rgb(202, 173, 184)50%); */
        color: #888787;
        font-size: 1.4em;
        font-weight: bold;
    }

    #hero_img .thirteen {
        left: 50px;
        bottom: 200px;
    }

    #hero_img .one {
        right: 100px;
        bottom: 290px;
        /* left: 500px; */
        font-size: 5em;
    }

    #hero_img .ten {
        right: 60px;
        top: 230px;
        font-size: 1.5em;
        font-weight: bold;
        opacity: .7;
    }
    
    #hero_img .two {
        left: 80px;
        top: 300px;
        color: #888787;
        font-size: 4em;
        opacity: .2;
    }

    #hero_img .three {
        display: none;
    }
}



    @media (min-width: 740px) {
        .socials_list_collapsed {
            display: none;
        }

    }


    @media (max-width: 978px) {
        body {
            padding: 10px;
            height: 100vh;
        }

        #intro h1 {
            font-size: 5em;
            margin-top: 30%;
            margin-left: 130px;
            background: linear-gradient(to right, rgb(238, 238, 238) 37%, rgb(202, 173, 184)37%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #intro h1 span {
            letter-spacing: 3px;
            /* font-size: 1em; */
        }

        .navbar {
            margin: 0;
        }
    }

            /* Medium Screens */
    @media (min-width: 1400px) {
        .socials_list_collapsed {
            display: none;
        }

        #intro h1 {
            font-size: 6em;
            letter-spacing: 13px;
            margin-top: 15vh;
            margin-left: 17%;
            background: linear-gradient(to right, rgb(255, 255, 255) 36%, rgb(189, 163, 172)36%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        #intro h1 span {
            letter-spacing: 30px;
            font-size: 1.4em;
        }


        #hero_img .twelve {
            left: 1000px;
            top: 450px;
        }

        #hero_img .thirteen {
            left: 270px;
            bottom: 500px;
        }
    
        #hero_img .one {
            right: 300px;
            bottom: 490px;
            /* left: 500px; */
            font-size: 7em;
        }

        #hero_img .four {
            right: 580px;
            top: 170px;
            font-size: 2.7em;
        }

        #hero_img .six {
            font-size: 4.7em;
        }
    
        #hero_img .ten {
            right: 60px;
            top: 230px;
            font-size: 1.5em;
            font-weight: bold;
            opacity: .7;
        }
        
        #hero_img .two {
            left: 300px;
            top: 300px;
            color: #888787;
            font-size: 4em;
            opacity: .2;
        }
    }

            /* Large Screens */

    @media (min-width: 1900px) {
        .socials_list_collapsed {
            display: none;
        }

        #intro h1 {
            font-size: 9em;
            letter-spacing: 13px;
            margin-top: 15vh;
            margin-left: 18%;
            background: linear-gradient(to right, rgb(255, 255, 255) 37%, rgb(202, 173, 184)37%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        #intro h1 span {
            /* letter-spacing: 50px; */
            font-size: 1.5em;
        }

    }

/* End of Media Queries */
